body {
    margin: 0;
    background-image: url('../css/imagen/fondo.jpg'); 
    /*para podr agregar un aimagen de fondo a el contenido*/

    font-family: Arial;
    margin: auto; 
}
#contenedor{
    margin: 150px auto;
    width: 600px;
}
/*cambiando las dimenciones de la tabla*/
table{
    background-color: white;
    text-align: center;
    border-collapse: collapse;
    margin: auto;
    /*width: 100%;*/
}
th, td {
    border: solid 2px black;
    padding: 5;
}
thead{
    background-color: #cc00cc;
    border-bottom: solid 2px #0F362D;
    color: white;
}
tr:nth-child(even){
    background-color: #ddd;

}
tr:hover td{
    background-color:  #369681;
    color: red;
}